@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

span {
    font-family: 'Black Ops One', cursive;
    background-color: black;
    color: #fff;
    font-size: 100px;
}

button {
    display: block;
    margin: 5px;
}